#root{
  display: flex;
  align-items: center;
}
.App{
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 5%


}
.mainDiv{
  align-items: center;
  margin-left: 5%;
}
.App div{
    display: flex;
    flex-direction: column;
  margin-bottom: 30px;
}
.App div button{
  width: 80%;
  outline: none;
  padding: 10px 0 10px 0;
  text-align: center;
  border: none;
  background: #FD7F71;
  cursor: pointer;
  border-radius: 10px;
  color: white;
  box-shadow: 0 3px 6px 0 rgba(0,0,0,0.2);
}
.App div button:hover { 
  transform: translateY(-3px);
  box-shadow: 0 6px 6px 0 rgba(0,0,0,0.2);
}
.App div p{
  
  text-align: center;
}

.img{
  width: 200px;
  height: 200px; 
  border: 2px solid black;
}
.marked{
  border: 2px solid #FD7F71;
  border-radius: 25px
}

@media screen and (max-device-width:768px){
  #root{
    display: flex;
    justify-content: center;
  }
  .App{
    max-width: 768px;
  }
  .mainDiv{
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .App div p{
    width: 100%;
  }
  .img{
    height: 300px;
    width: 100%;
  }
  
}